<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192825699924-20rrplggmiehp9i5d79it4o68drj6ei9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192825699924-20rrplggmiehp9i5d79it4o68drj6ei9</string>
	<key>API_KEY</key>
	<string>AIzaSyB3KVysMGaaY06bK1bhHk6SYjC3Ha2UeOY</string>
	<key>GCM_SENDER_ID</key>
	<string>192825699924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sangvaleap.firebasechat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-a5ad2</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-a5ad2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192825699924:ios:62cbc69a6c7247c5d887c1</string>
</dict>
</plist>